* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.containerTopo {
    display: flex;
    width: 990px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
   display: flex; 
   align-items: center;
}

nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
}

nav li a{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFF;
}



