* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    width: 990px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
   display: flex; 
   align-items: center;
}

nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
      
}

nav li a{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFF;
}

#banner {
    display: flex;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    
    color: #fff;
}

.banner_headline h1 {
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    font-size: 21px;
    text-shadow: 0px 1px 0px #CCCCCC;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 350px;
}

.banner_options {
    height: 210px;  
    display: flex;
}

.banner_1,
.banner_2,
.banner_3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

.banner_1 {
    background-color: #39aae1;
}

.banner_2 {
    background-color: #0079c7;
}

.banner_3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_content {
    font-size: 14px;
    margin-top: 20px;
}

.banner_content_hours {
    font-size: 14px;
}

.banner_options a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 13px;
    padding: 5px;
    margin-top: 20px;
}

.banner_hours {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.banner_hours h4 {
    font-weight: normal;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    margin-top: 5px;
    background-color: #39aae1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.widget_body {
    flex: 1;
}

.widget_body a{
    text-decoration: none;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 20px;
    min-width: 300px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title {
    color: #000;
    font-size: 21px;
    margin-top: 20px;
}

article .news_content {
    color: #5c5c5c;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget_responsive {
    min-width: 150px;
    margin:0 ;
    margin-bottom: 30px;
}

article .widget_departments img {
    max-width: 150px;
    width: 100%;
    height: auto;
}

aside .widget_body {
    justify-content: space-between;
}

.schedule {
    width: 100%;
    margin-top: 20px;
}

.schedule_title, .schedule_text{
    color: #5c5c5c;
    font-size: 12px;
}

.schedule_bar {
    width: 100%;
    background-color: #555555;
    height: 1px;
}

.schedule_box {
    display: flex;
    padding: 10px 0px 10px;
    align-items: center;
    color: #5c5c5c;
}

.schedule_box img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
}

footer .footer_menu {
    display: flex;
    flex: 1;
}

.fm1, .fm2, .fm3 {
    flex: 1;
}

.footer_menu a {
    padding: 20px;
    color: #FFF;
    display: block;
    text-decoration: none;
}

.fm1 {
    background-color: #39aae1;
}

.fm2 {
    background-color: #0079c7;
}

.fm3 {
    background-color: #2b4c99;
}

.footer_content {
    display: flex;
}

.content_item {
    flex: 1;
}

footer .widget_body {
    padding-right: 10px;
}

footer .widget_title {
    color: #FFF;
}

footer .title_description, footer .description {
    color: #5c5c5c;
    font-size: 12px;
}

footer .description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

footer .description div {
    margin-right: 20px;
}

footer .social{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.social img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

footer .content_post {
    margin-bottom: 20px;
    font-size: 12px;
}

footer .content_post_tt {
    margin-bottom: 20px;
    font-size: 12px;
}

footer .content_post_tt a {
    color: #5c5c5c;
}

footer .content_post a {
    color: #FFF;
}

footer .data_post {
    margin-top: 10px;
}

footer .data_post a{
    color: #0079c7;
}

footer .footer_copy {
    border-top: 1px solid #5c5c5c;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #5c5c5c;
    font-size: 12px;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.menu_bar {
    width: 40px;
    height: 3px;
    background-color: #39aae1;
}

aside .schedule_box .schedule_text a {
    margin-right: 0;
}

@media (max-width: 980px) {
    .logo, .banner_headline , .footer_content{
        padding-left: 20px;
    }
    
    #geral section, .footer_copy {
        padding-left: 20px;
    }

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #FFF;
        
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    
}

@media (max-width:935px) {

    aside .widget_body {
        justify-content: flex-start;
    }

    aside .widget_body a {
        margin-right: 20px;
    }
    article .widget_departments img {
        max-width: 290px;
    }
}

@media (max-width:650px) {
    .banner_headline h1 {
        font-size: 40px;
    }
    .banner_headline h2 {
        font-size: 16px;
    }

    #banner {
        height: 750px;
    }

    .banner_options {
        flex-direction: column;
        height: auto;
    }

    aside .widget_title {
        margin-top: 0;
    }

    #geral .container, footer .footer_content {
        flex-direction: column;
    }

    #geral aside {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    footer .footer_menu {
        flex-direction: column;
    }

}